<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Я.Волейбол</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Страница приложения для Я.Волейболистов</h1>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
</body>
</html>